.title {
  text-align: center;
}
.login {
  width: 30%;
  position: absolute;
  top: 10%;
  right: 35%;
  display: block;
}

.Fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-left: 10px;
}

strong {
  color: #fff;
}
